.header{
  display: flex;
  flex-direction: row;
}

.separator {
    position: absolute;
    top:10px;
    margin: 28px;
    width: 50px;
    height: 1px;
    background-color: grey;
    transform: rotate(90deg);
}